.patientInfoSection {
  margin-top: 30px;
  margin-left: 30px;

  font-size: medium;
}

.patientInfoSection .patientInfoRow {
  margin-top: 4px;
  margin-bottom: 0%;

  font-weight: bolder;
}

.recordButton {
  margin-top: 30px;
  margin-left: 30px;
}

.notesField {
  min-width: 650px;
  min-height: 350px;

  margin-top: 30px;
  margin-left: 30px;
}